WebOperaciones/Service References/BusWS/Buses.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Buses" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58994/Buses.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58994/Buses.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFServices.Errores" />
      <xsd:import schemaLocation="http://localhost:58994/Buses.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58994/Buses.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBuses_CrearMovilidad_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearMovilidad" />
  </wsdl:message>
  <wsdl:message name="IBuses_CrearMovilidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearMovilidadResponse" />
  </wsdl:message>
  <wsdl:message name="IBuses_CrearMovilidad_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServices.Errores" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IBuses_ObtenerMovilidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMovilidad" />
  </wsdl:message>
  <wsdl:message name="IBuses_ObtenerMovilidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMovilidadResponse" />
  </wsdl:message>
  <wsdl:message name="IBuses_ModificarMovilidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarMovilidad" />
  </wsdl:message>
  <wsdl:message name="IBuses_ModificarMovilidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarMovilidadResponse" />
  </wsdl:message>
  <wsdl:message name="IBuses_EliminarMovilidad_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMovilidad" />
  </wsdl:message>
  <wsdl:message name="IBuses_EliminarMovilidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMovilidadResponse" />
  </wsdl:message>
  <wsdl:message name="IBuses_ListarMovilidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMovilidad" />
  </wsdl:message>
  <wsdl:message name="IBuses_ListarMovilidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMovilidadResponse" />
  </wsdl:message>
  <wsdl:message name="IBuses_EnviarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreo" />
  </wsdl:message>
  <wsdl:message name="IBuses_EnviarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoResponse" />
  </wsdl:message>
  <wsdl:portType name="IBuses">
    <wsdl:operation name="CrearMovilidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuses/CrearMovilidad" message="tns:IBuses_CrearMovilidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuses/CrearMovilidadResponse" message="tns:IBuses_CrearMovilidad_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBuses/CrearMovilidadRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IBuses_CrearMovilidad_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMovilidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuses/ObtenerMovilidad" message="tns:IBuses_ObtenerMovilidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuses/ObtenerMovilidadResponse" message="tns:IBuses_ObtenerMovilidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarMovilidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuses/ModificarMovilidad" message="tns:IBuses_ModificarMovilidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuses/ModificarMovilidadResponse" message="tns:IBuses_ModificarMovilidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMovilidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuses/EliminarMovilidad" message="tns:IBuses_EliminarMovilidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuses/EliminarMovilidadResponse" message="tns:IBuses_EliminarMovilidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMovilidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuses/ListarMovilidad" message="tns:IBuses_ListarMovilidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuses/ListarMovilidadResponse" message="tns:IBuses_ListarMovilidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuses/EnviarCorreo" message="tns:IBuses_EnviarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuses/EnviarCorreoResponse" message="tns:IBuses_EnviarCorreo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBuses" type="tns:IBuses">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearMovilidad">
      <soap:operation soapAction="http://tempuri.org/IBuses/CrearMovilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMovilidad">
      <soap:operation soapAction="http://tempuri.org/IBuses/ObtenerMovilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarMovilidad">
      <soap:operation soapAction="http://tempuri.org/IBuses/ModificarMovilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMovilidad">
      <soap:operation soapAction="http://tempuri.org/IBuses/EliminarMovilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMovilidad">
      <soap:operation soapAction="http://tempuri.org/IBuses/ListarMovilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreo">
      <soap:operation soapAction="http://tempuri.org/IBuses/EnviarCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Buses">
    <wsdl:port name="BasicHttpBinding_IBuses" binding="tns:BasicHttpBinding_IBuses">
      <soap:address location="http://localhost:58994/Buses.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>