WCFServicesTest/Service References/BusesWS/Buses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Movilidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asientos" type="xs:int" />
      <xs:element minOccurs="0" name="Año" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeInscripcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motor" type="xs:int" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puertas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movilidad" nillable="true" type="tns:Movilidad" />
  <xs:complexType name="ArrayOfMovilidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movilidad" nillable="true" type="tns:Movilidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovilidad" nillable="true" type="tns:ArrayOfMovilidad" />
</xs:schema>