WcfConductor/WcfServiceTest/Service References/ConductoresWS/Conductores1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfConductor.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfConductor.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Conductor">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria_licencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="des_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="des_nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dni_conductor" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nro_licencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tx_estado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conductor" nillable="true" type="tns:Conductor" />
  <xs:complexType name="ArrayOfConductor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Conductor" nillable="true" type="tns:Conductor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConductor" nillable="true" type="tns:ArrayOfConductor" />
</xs:schema>