WebOperaciones/Service References/SeguridadWS/SeguridadService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50695/SeguridadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSeguridad.Dominio" />
  <xs:element name="Autenticacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usu_login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass_login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFSeguridad.Dominio" minOccurs="0" name="AutenticacionResult" nillable="true" type="q1:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>